{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/art/css/info.css">
{% endblock %}


{% block content %}
    <div id="c" class="row">
        <!-- 左边的正文 -->
        <div class="col-xs-8">
            <div class="art-info">

                <h1 class="text-center">法家高徒</h1>
                <div class="row">
                    <div class="col-xs-3">
                        <img src="/static/base/images/default.jpg"
                             height="200" width="160">
                    </div>

                    <div class="col-xs-8">
                        <p style="height: 160px;">
                            <b>介绍:</b> 百家争鸣，鬼神显圣，武道昌盛的大争之世。记忆达人司徒刑转生大乾，成为一介秀才，但是他不爱儒家爱法家。儒皮法骨，终成一代法主。
                        </p>

                        <p >
                            <a href="" class="btn btn-default">开始阅读</a>
                            <a href="" class="btn btn-info">收藏</a>
                            <a href="" class="btn btn-success">点赞</a>
                        </p>
                    </div>


                </div>
            </div>
        </div>

        <!-- 右边列表 -->
        <div class="col-xs-4">

            <div class="row" style="height: 600px; margin: 10px">
                <section>
                    <h3 class="text-info">
                        <span class="glyphicon glyphicon-list-alt"></span>最新文章</h3>
                    <ul style="list-style: none">
                        <li>xxxx</li>
                        <li>yyyy</li>
                        <li>yyyy</li>
                    </ul>
                </section>

                <section>
                    <h3 class="text-info">
                        <span class="glyphicon glyphicon-list-alt"></span>阅读排行
                    </h3>
                    <ul style="list-style: none">
                        <li>xxxx</li>
                        <li>yyyy</li>
                        <li>yyyy</li>
                    </ul>
                </section>

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

{% endblock %}
